<h2>Editer la recette</h2>

<form>
	<div class="row" style="margin: 0">
		<div class="col-md-6">
		    <div class="form-group">
		        <label for="nom">Nom</label>
		        <input id="nom" class="form-control" type="text" name="nom" data-ng-model="recette.nom"/>
		    </div>
		    
		    <div class="form-group">
		        <label for="categorie">Catégorie</label>
		        <input id="categorie" class="form-control" type="text" name="categorie" ng-model="recette.categorie"/>
		    </div>
		    
		    <div class="form-group">
		        <label for="difficulte">Difficulté</label>
		        <rating value="difficulte" max="rateDifficulteMax" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
		        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
		    </div>
		    
		    <div class="form-group">
		        <label for="avis">Avis</label>
		        <input id="avis" class="form-control" type="text" name="avis" ng-model="recette.avis"/>
		    </div>
		</div>
		
<!-- 		<div class="col-md-6"> -->
<!-- 			<label for="inputEmail">Ingrédient</label> -->
<!-- 			<div class="controls"> -->
<!-- 				<input type="text" class="form-control" placeholder="nom de l'ingrédient"> -->
<!-- 			</div> -->
<!-- 		</div> -->
		
		<fieldset class="row" style="border:solid 1px;">
			<legend>Ajouter les ingrédients</legend>
			<div class="col-md-8">
				<div class="form-group">
					<label>Nom</label>
					<input type="text" placeholder="…" data-ng-model="newIngredient.ingredient.nom">
				</div>
				<div class="form-group">
					<label>Quantité</label>
					<input type="text" size="2" placeholder="…" data-ng-model="newIngredient.quantite">
					<select data-ng-model="unite" data-ng-options="u.nom as u.nom group by u.type for u in unites">
						<option value="">-- Choisir l'unité --</option>
					</select>
				</div>
				<span class="help-block">Example block-level help text here.</span>
				<button class="btn btn-success" data-ng-click="addIngredient()">OK</button>
			</div>
			<div class="col-md-4">
			<ul class="list-unstyled" data-ng-repeat="qteIngdt in qteIngdts">
			 	<li>{{qteIngdt.quantite}} {{unite}} {{qteIngdt.ingredient.nom}}<a href data-ng-click="qteIngdts.splice($index, 1)">&nbsp;<button type="button" class="close" aria-hidden="true">&times;</button></a></li>
			</ul>
			</div>
		</fieldset>
	
	    <div class="form-group col-md-12">
	        <label for="description">Description</label>
	        <textarea id="description" class="form-control" name="description" data-ng-model="recette.description"></textarea>
	    </div>
	</div>

    <hr/>
    <button data-ng-click="saveRecette()" class="btn btn-success">Sauvegarder</button>
    <a href="#!/list" class="btn btn-default">Annuler</a>
</form>