<div class="row">
	<h2 class="col-md-8">Détail</h2>
	<fieldset class="col-md-4 span6">
		<legend>Ingrédients</legend>
		<ul data-ng-repeat="qteIngdt in recette.quantiteIngredients">
			<li>{{qteIngdt.quantite}} <span>-</span> {{qteIngdt.ingredient.nom}}</li>
		</ul>
	</fieldset>
</div>

<div class="panel">
    <div class="panel-heading">{{recette.nom}}</div>
    <div class="">{{recette.categorie}}</div>
    <div class="">{{recette.avis}}</div>
    <div class="">{{recette.difficulte}}</div>
    {{recette.description}}
</div>

<hr/>
<a href="#!/list" class="btn btn-default">Retour à l'index</a>